{
    "extends": "@nodesecure/eslint-config",
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false
    },
    "rules": {
        "id-length": "off",
        "jsdoc/require-jsdoc": "off",
        "no-mixed-operators": "off"
    }
}
