<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Three JS - Terrain Editor</title>
    <script src="./js/libs/three.js"></script>
    <!-- <script src="js/planeGeometryTest.js" defer></script> -->
    <script type="module" src="./js/index.js"></script>
</head>
<body>
    <section id="game">
        <!-- <div></div> -->
        <!-- <canvas width="600" height="20"></canvas> -->
    </section>
    <nav>
        <section class="title">Terrain Tools</section>
        <ul>
            <li><li>
        </ul>
    </nav>
</body>
</html>