<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Three JS - Terrain Editor</title>
    <script src="./js/libs/three.js"></script>
    <!-- <script src="js/planeGeometryTest.js" defer></script> -->
    <script type="module" src="./js/index.js"></script>
</head>
<body>
    <section id="game">
        <!-- <div></div> -->
        <!-- <canvas width="600" height="20"></canvas> -->
    </section>
    <nav>
        <section class="title">Terrain Tool Panel</section>
        <section class="item">
            <div class="title"><p>Camera Transform</p></div>
            <ul id="camera">
                <li>Position: x:, y:, z:</li>
                <li>Orientation: x:, y:, z:</li>
            </ul>
        </section>
        <section class="item">
            <div class="title"><p>Terrain Info</p></div>
            <ul id="terrain">
                <li id="terrainMode">TerrainMode: <span>Vertex</span></li>
                <li id="wireframe"><label>Wireframe: <input type="checkbox"></label></span></li>
            </ul>
        </section>
    </nav>
</body>
</html>